.psrContainer {
  width: 100%;
  font-family: "Outfit", sans-serif;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.psrIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 1px;
  margin-top: 5px;
  margin-bottom: 4px;
}
.psrSummaryContainer::-webkit-scrollbar {
  width: 4.5px;
}
.psrSummaryContainer::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
  padding: 4px;
}
.psrSummaryContainer::-webkit-scrollbar-thumb {
  background: #ffffff;
}
.psrSummaryContainer {
  margin-top: 20px;
  margin: 0;
  height: auto;
  height: 58vh;
  overflow-y: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 8px 8px;
  z-index: 999;
  position: relative;
  padding-bottom: 10px;
}

.psrSummaryItem {
  display: flex;
  align-items: flex-start;
  margin-right: 45px;
  margin-left: 45px;
  width: fit-content;
  z-index: 999;
  margin-top: 25px;
  margin-bottom: 25px;
}

.psrSummaryIcon {
  width: 29px;
  height: 29px;
  margin-right: 10px;
}

.psrOptionsIcon {
  width: 29px;
  height: 29px;
  margin-left: 11px;
  margin-top: 0px;
  margin-right: 13px;
}

.psrSummaryParagraph {
  font-size: 18px;
  align-items: flex-start;
  color: #ffffff;
  color: #fff;
  font-family: Outfit;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.5px;
  z-index: 999;
  margin: 0;
  word-wrap: break-word;
}

.psrOverallContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  z-index: 999;
  padding-top: 0;
}

.psrTitleContainer {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  font-family: Outfit;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  display: flex;
  user-select: none;
}

.Disclaimer {
  margin-left: 470px;
  border: none;
  border-radius: 60px;
  margin-top: 3px;
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.Disclaimer:hover {
  cursor: pointer;
  background: rgba(184, 0, 0, 0.1);
  border-radius: 60px;
}


.Disclaimer:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: calc(100% + 20px);
  transform: translateX(calc(-48%)); /* Move it to the right */
  background: #f9260a;
  border-radius: 4px;
  font-size: 15px;
  white-space: nowrap;
  color: #fff;
  font-family: Outfit;
  font-weight: 400;
  line-height: 0px;
  padding: 17px;
  z-index: 1000;
  backdrop-filter: blur(25px);
}

.Disclaimer:hover + .psrSummaryContainer {
  top: calc(100% + 50px); /* Adjust the distance to slide down */
}

.psrHeader {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 4px;
  width: max-content;
  margin-bottom: 3px;
  position: relative;
  margin-left: 5px;
  width: 100%;
}

.psrCompanyTitle {
  color: #80f5a7;
  font-family: Outfit;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: right;
  justify-content: center;
  margin-left: 1%;
}

.psrInputContainer {
  display: flexbox;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}



.psrInputField {
  padding: 14px 15px;
  border: none;
  font-size: 18px;
  width: 88%;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: normal;
}

.psrInputField::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.psrInputField:focus {
  outline: none;
}

.psrInputButton {
  background-color: transparent;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.psrInputButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.06);
}

.psrInputIcon {
  width: 30px;
  height: 30px;
}

.psrSummaryDivider {
  margin-top: 1%;
  border: 0;
  height: 0.7px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  width: 92%;
  margin-left: 4%;
}

.psrActionButtons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.psrActionButton {
  margin-left: 0%;
  width: max-content;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px 10px;
  display: inline-flex;
}

.psrActionButton2 {
  margin-left: 0%;
  width: max-content;
  border: none;
  border-radius: 4px;
  background: #3692ff;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px 10px;
  display: inline-flex;
}

.psrOptionsContainer {
  display: flex;
  margin-top: 4%;
  margin-bottom: 4%;
  align-items: flex-start;
}

.psrActionButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.17);
}
.psrActionButton2:hover {
  cursor: pointer;
  background-color: #0073ff;
}

.DisclaimerContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 10px; /* Adjust margin as needed */
}

.psrDisclaimerParagraph {
  font-size: 14px; /* Example font size */
  text-align: center; /* Center text */
  color: #fff;
  text-align: center;
  font-family: Outfit;
  letter-spacing: 0.3px;
  font-weight: 300;
  opacity: 0.5;
  user-select: none;
}

/* Add overlay styles */
.overlay {
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 999;
}

.blankText {
  color: white;
  padding-top: 40px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
  user-select: none;
}

.errorText {
  color: rgb(248, 163, 65);
  padding-top: 40px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
  user-select: none;
}

.newChat {
  color: #80f5a7;
  font-size: 20px;
  text-align: center;
}

.warningIcon {
  font-size: 30px;
  padding-top: 0px;
  vertical-align: bottom;
}

/* Skeleton loader container */
.skeletonContainer {
  display: flex;
  align-items: center;
  padding: 13px;
  opacity: 30%;
}

/* Skeleton loader icon placeholder */
.skeletonIcon {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0; /* Placeholder background color */
  border-radius: 50%;
  opacity: 40%;
  margin-right: 16px;
}

.skeletonText {
  flex: 1;
  height: 12px;
  background-color: #f0f0f0; /* Placeholder background color */
  opacity: 30%;
  border-radius: 4px;
}