.ssearchContainer {
  width: 99.6%;
  height: 100%;
  margin: 0 auto;
  font-family: "Outfit", sans-serif;
  font-size: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

.ssearchResults {
  padding: 0;
  margin: 0;
  height: auto;
  overflow-y: hidden;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 8px 8px;
}

.ssearchResults li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  padding-left: 10px;
  position: relative;
}

.ssearchResults li:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.sicon {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}

.sitemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.ssymbol {
  font-size: 2em;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: -3px;
}

.sname {
  font-size: 1.5em;
  color: #f0f0f0;
}

.sprice {
  font-size: 1.8em;
  font-weight: 500;
  color: #ffffff;
  padding-right: 8px;
}

.sinput-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.ssearchIcon {
  position: absolute;
  left: 10px;
  width: 21px;
  height: 21px;
  top: 8px;
}

.ssearchResults li:hover {
  background: #3692ff;
  cursor: pointer; /* Change cursor to pointer on hover */
}

.premiumResults li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  padding-left: 10px;
  position: relative;
}

.premiumResults li:hover {
  background: linear-gradient(91deg, #3692FF 52.09%, #7FF4A7 111.89%);
  cursor: pointer;
}

.srecommended {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.srecommendedIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

.srecommendedTitle {
  font-size: 2.2em;
  color: rgba(255, 255, 255, 0.9);
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 5px;
}

.ssearchResults li::before {
  content: attr(
    data-index
  ); /* Use the data-index attribute to generate numbers */
  counter-increment: list-counter; /* Increment the counter */
}

.listNumber {
  font-size: 2em; /* Adjust the font size of the numbers */
  font-weight: bold;
  color: #ffffff; /* Adjust the color of the numbers */
  margin-right: 13px;
  padding-left: 3px; /* Adjust the margin between number and content */
}
