.ssearchContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "Outfit", sans-serif;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  max-height: 42vh;
}

.ssearchResults {
  padding: 0;
  margin: 0;
  height: 36vh;
  overflow-y: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 8px 8px;
}

.topIcons
{
  margin-left: auto;
  right: 0;
  display: flex; 
  gap: 10px;  
  align-items: center;
  padding-right: 10px;
}

.searchIcon, .recommendIcon, .closeIcon
{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 7px;
  border-radius: 100%;
}

.searchIcon, .closeIcon
{
  color: white;
}

.recommendIcon
{
  color: aquamarine;
}

.closeIcon { padding: 5px 5px; }

.ssearchResults::-webkit-scrollbar {
  width: 4.5px;
  z-index: 0;
}

.ssearchResults::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
  padding: 4px;
}

.ssearchResults::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.highlight
{
  background-color: #52a0ff;
}

.highlight:last-child{
  background-color: #3692ff; /* Change b[ackground color on hover */
  border-radius: 0 0 8px 8px; /* Apply border radius only to the bottom right corner */
}

.ssearchResults li:last-child:hover {
  border-radius: 0 0 8px 8px;
}

.ssearchResults li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  padding-left: 10px;
  position: relative;
}

.ssearchResults li:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.sicon {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}

.sitemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding-left: 15px;
}

.ssymbol {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: -3px;
}

.sname {
  font-size: 14px;
  margin-top: 2px;
  color: #f0f0f0;
}

.sprice {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding-right: 8px;
}

.sinput-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.ssearchIcon {
  position: absolute;
  left: 10px;
  width: 21px;
  height: 21px;
  top: 8px;
}

.ssearchResults li:hover {
  background: #3692ff;
  cursor: pointer; /* Change cursor to pointer on hover */
}

.ssearchResults li:last-child:hover {
  border-radius: 0 0 8px 8px;
}

.premiumResults li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  padding-left: 10px;
  position: relative;
}

.premiumResults li:hover {
  background: #3692ff;
  /* background: linear-gradient(91deg, #3692FF 52.09%, #7FF4A7 111.89%); */
  cursor: pointer;
}

.srecommended {
  display: flex;
  align-items: center;
  height: 45px;
}

.srecommendedIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.srecommendedTitle {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  user-select: none;
}

.ssearchResults li::before {
  content: attr(
    data-index
  ); /* Use the data-index attribute to generate numbers */
  counter-increment: list-counter; /* Increment the counter */
}

.listNumber {
  font-size: 20px; /* Adjust the font size of the numbers */
  font-weight: 500;
  color: #ffffff; /* Adjust the color of the numbers */
  margin-right: 13px;
  padding-left: 3px; /* Adjust the margin between number and content */
}

/* Skeleton loader container */
.skeletonContainer {
  display: flex;
  align-items: center;
  padding: 13px;
  opacity: 30%;
}

/* Skeleton loader icon placeholder */
.skeletonIcon {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0; /* Placeholder background color */
  border-radius: 50%;
  opacity: 40%;
  margin-right: 16px;
}

.skeletonText {
  flex: 1;
  height: 12px;
  background-color: #f0f0f0; /* Placeholder background color */
  opacity: 30%;
  border-radius: 4px;
}

.emptyStocks
{
  padding: 20px 0px 20px 0px;
  color: rgb(223, 223, 223);
  font-size: 17px;
  text-align: center;
  user-select: none;
}

.errorText
{
  color:rgb(248, 163, 65);
  font-family: Outfit;
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  text-align: center;
  user-select: none;
}

.warningIcon {
  font-size: 30px;
  padding-top: 0px;
  vertical-align: bottom;
}