.customButton {
  font-family: "Outfit", sans-serif;
  background-color: #c9c9c9;
  color: #000;
  padding: 15px 10px;
  border-radius: 8px;
  border: 0px solid;
  font-size: 125%;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
  margin: 0;
}

.customButton.selected {
  background-color: #3692ff;
  color: white;
  padding: 15px 10px;
  border-radius: 8px;
  border: 0px solid;
  font-size: 125%;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
  margin: 0;
}
