.loadingSpinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  height: 100vh;
}

.spinner {
  border: 6px solid #f0f0f0;
  border-top: 6px solid #3692ff;
  border-radius: 60%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

.loadingText {
  margin-top: 20px;
  font-size: 25px;
  color: #000;
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
