body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
}

.leftContainer {
  width: 64%;
  margin: 0;
  padding: 0;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightContainer {
  width: 36%;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Outfit";
  width: 100%;
  text-align: center;
  margin-top: 40%;
  font-size: 35px;
}

.buttonContainer {
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  display: flex;
  gap: 20px;
}

.bottomLogo {
  width: 34%;
  margin-left: 33%;
  margin-top: 30vh;
}
