body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
}

.leftContainer {
  width: 50%;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: center;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightContainer {
  width: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-family: "Outfit";
  width: 100%;
  text-align: center;
  margin-top: 34%;
  font-size: 36px;
  font-weight: 600;
}

.buttonContainer {
  width: 50%;
  display: flex;
  gap: 18px;
}

.bottomLogo {
  width: 35%;
  margin-top: 28vh;
}

.topRightButton {
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
}

.tutorialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(125, 244, 168, 0.4);
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 16px;
  font-family: "Outfit", sans-serif;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.4px;
}

.tutorialButton:hover {
  background: rgba(125, 244, 168, 0.6);
}

.tutorialButton:active {
  background: rgba(125, 244, 168, 0.6);
}

.tutorialIcon {
  width: 25px;
  height: 25px;
  margin-right: 6px;
}
