.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 17px 17px 0px;
  background: #3692ff;
  padding: 20px;
  width: fit-content; /* Takes the full width of the parent container */
  height: 100%; /* Adjusted to take full height of its parent */
  font-family: "Outfit";
}

.welcomeText {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  margin-right: 10px;
  text-align: left;
  margin-top: -40px;
  margin-bottom: -5px;
}

.descriptionText {
  color: #ffffff;
  text-align: left;
  width: fit-content;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 20px;
}

.textContainer {
  width: 100%; /* Take the full width of the parent container */
  display: flex; /* Use flexbox to arrange children */
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align text to the start (left) */
  height: 190px;
}

.upgradeBtn {
  text-align: center;
  font-family: Outfit;
  font-size: 18px;
  padding: 13px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upgradeBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.rechargeBtn {
  text-align: center;
  font-family: Outfit;
  font-size: 18px;
  padding: 13px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rechargeBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.profileBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: white;
  background-color: transparent;
  font-family: Outfit;
  font-size: 18px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 13px;
  /* border: 4px solid rgba(255, 255, 255, 0.2); */
}

.profileBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* border: 4px solid transparent; */
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: white;
  background-color: transparent;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  line-height: normal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 13px;
  text-align: left;
  
}

.logoutBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.divider {
  border: 0;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  margin-top: 10%;
}

.imageContainer {
  width: 20vh;
  margin-top: -30px;
  margin-left: -140px;
}

.sliderImage {
  width: 320px;
  height: auto;
}

.sliderImageOverlay {
  mix-blend-mode: overlay;
}


.icon {
  width: 22px;
  height: 22px;
}

.sliderButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.userName {
  font-family: "Outfit";
  color: white;
  background-color: #3692ff;
  background-color: rgb(43, 173, 212); /* rgba(255, 255, 255, 0.2) */

  padding: 7px 0px 7px 0px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid white;
  width: 100%;
  text-align: center;
}

.userName {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
