.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 17px;
  background: #3692ff;
  padding: 20px;
  width: fit-content; /* Takes the full width of the parent container */
  height: 100%; /* Adjusted to take full height of its parent */
  font-family: "Outfit";
}

.welcomeText {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  margin-right: 10px;
  text-align: left;
  margin-top: -40px;
  margin-bottom: -5px;
}

.descriptionText {
  color: #ffffff;
  text-align: left;
  width: fit-content;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.textContainer {
  width: 100%; /* Take the full width of the parent container */
  display: flex; /* Use flexbox to arrange children */
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align text to the start (left) */
  height: 190px;
}

.upgradeBtn {
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  padding: 13px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upgradeBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.rechargeBtn {
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  padding: 13px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rechargeBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.profileBtn {
  display: flex; /* Enable Flexbox layout */
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
  gap: 10px;
  color: white; /* Set text color to white */
  background-color: transparent;
  font-family: Outfit;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 20px;
}

.logoutBtn {
  display: flex; /* Enable Flexbox layout */
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
  gap: 10px;
  color: white;
  background-color: transparent;
  font-family: Outfit;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.divider {
  border: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  margin-top: 10%;
}

.imageContainer {
  width: 20vh;
  margin-top: -35px;
  margin-left: -140px;
}

.sliderImage {
  width: 320px;
  height: auto;
}

.sliderImageOverlay {
  mix-blend-mode: overlay;
}

.buttonContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon {
  width: 22px;
  height: 22px;
}

.sliderButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: -10px;
}
