.searchContainer {
  width: 100%;
  margin: 0 auto;
  font-family: "Outfit", sans-serif;
  font-size: 8px;
}

.searchContainer input:focus {
  outline: none; /* Remove outline when input is focused */
}

.searchContainer input::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Set placeholder text color to white */
  align-items: center;
  justify-content: center; /* Align text centrally */
  border-color: transparent;
  line-height: normal;
}

.searchContainer input {
  width: 100%;
  margin-bottom: 10px;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  padding: 10px;
  padding-left: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  display: flex;
  color: white;
}

.searchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.searchResults {
  position: absolute;
  top: calc(100% + 7px);
  padding: 0;
  margin: 0;
  border-radius: 7px;
  max-height: 900px;
  overflow-y: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  height: 562px;
  backdrop-filter: blur(40px);
}

.searchResults li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px;
}

.searchResults li:last-child {
  border-bottom: none;
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.symbol {
  font-size: 1.9em;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: -3px;
}

.name {
  font-size: 1.5em;
  color: #f0f0f0;
}

.searchPrice {
  font-size: 1.8em;
  font-weight: bold;
  color: #ffffff;
  padding-right: 10px;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 10px;
  width: 21px;
  height: 21px;
  top: 8px;
}

/* For Webkit browsers like Chrome, Safari */
.searchResults::-webkit-scrollbar {
  width: 5px;
}

.searchResults::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.searchResults::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.searchResults li:hover {
  background: #3692ff;
  cursor: pointer; /* Change cursor to pointer on hover */
}
