body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
}

.leftContainer {
  width: 50%;
  margin: 0;
  padding: 0;
  position: relative;
}

.logo 
{
  display: flex;
  justify-content: center;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightContainer {
  width: 50%;
  margin: 0;
  padding: 0;
}

.preferences {
  font-family: "Outfit", sans-serif;
  background-color: #fff;
  padding: 30px 40px 0 40px;
  border-radius: 8px;
}

.section {
  margin-bottom: 15px;
}

.section h2 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #1e1e1e;
}

.saveButton {
  margin-top: 7%;
  text-align: center;
}

.toggleContainer1 {
  display: flex;
  justify-content: start;
  gap: 10px;
  width: 60%;
}

.toggleContainer2 {
  display: flex;
  justify-content: start;
  gap: 10px;
  width: 60%;
}

.toggleContainer3 {
  display: flex;
  justify-content: start;
  gap: 10px;
  width: 80%;
}

