body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;

}

.leftContainer {
  width: 50%;
  margin: 0;
  padding: 0;
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightContainer {
  width: 50%;
  margin: 0;
  padding: 0;
}

.preferences {
  font-family: "Outfit", sans-serif;
  background-color: #fff;
  padding: 30px 40px 0 40px;
  border-radius: 8px;
}

.section {
  margin-bottom: 15px;
}

.section h2 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #1e1e1e;
}

.saveButton {
  margin-top: 7%;
  text-align: center;
}

.toggleContainer1 {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 60%;
}

.toggleContainer2 {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 60%;
}

.toggleContainer3 {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 80%;
}

.psrInputContainer {
  position: relative;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 95%;
}
.psrInputField {
  padding: 10px 20px;
  font-family: "Outfit", sans-serif;
  background-color: #f3f3f3;
  border: 0px solid;
  border-radius: 6px;
  font-weight: 300;
  position: relative;
  width: 100%;
  font-size: 18px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.psrInputField::placeholder {
  color: #bbbbbb;
  font-family: "Outfit", sans-serif;
}
.psrInputField:focus {
  outline: none;
}

.errorMessage {
  color: red; /* Change color as needed */
  font-size: 0.9rem;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 3px;
}
