.container::-webkit-scrollbar {
  width: 4.5px;
  z-index: 0;
}

.container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
  padding: 4px;
}

.container::-webkit-scrollbar-thumb {
  background: #ffffff;
}

body
{
  z-index: 1;
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #001a4f;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.navbar {
  background-color: #333;
  color: white;
  height: 50px;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 1002;
  user-select: none;
}

.panelContainer {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.leftContainer {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.rightContainer {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.headerName {
  font-family: Outfit;
}

.sliderContainer {
  height: 100%;
}

.rightColumns {
  display: flex;
  justify-content: center;
}

/* T R B L */
.col1 {
  margin: 0px 0px 0px 0px;
  width: 100%;
  margin-top: 2vh;
}

/* T R B L */
.col2 {
  margin: 0px 0px 0px 0px;
  width: 100%;
  margin-top: 2vh;
}

.stocksContainer {
  margin-bottom: 3%;
}

.stocksHistoryContainer
{
  margin-top: 2vh;
}

.searchBarContainer {
  margin-bottom: 2vh;
}

.headerContainer {
  margin-bottom: 1vh;
}

.iconsContainer {
  margin-bottom: 2vh;
}

.headerIcons {
  display: flex;
}

.headerIcon {
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
}

.iconContainer {
  margin-left: 8px;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  padding: 0;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  position: relative;
}

.iconContainer:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.17);
}

.iconContainer:hover::after {
  content: attr(data-tooltip); /* Update this line */
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  color: #fff;
  font-family: Outfit;
  font-weight: 400;
  line-height: 0px;
  padding: 11px;
  z-index: 100;
  backdrop-filter: blur(25px);
}

@media (max-width: 900px) {
  .navbar {
    display: block;
  }

  .leftContainer {
    height: 100vh;
    position: absolute;
    z-index: 1001;
  }

  .blurRightContainer
  {
    filter: blur(10px);
  }

  .container {
    overflow-y: auto;
  }

  .col1 {
    margin-top: 16vh;
  }

  .col2 {
    margin-top: -3vh;
    margin-bottom: 5vh;
  }

  .sliderContainer {
    width: 80%;
    margin-top: 10px;
  }

  .searchBarContainer {
    margin-bottom: 2%;
  }

  .container::-webkit-scrollbar {
    width: 0;
    z-index: 0;
  }
}
